<div class="footer">
  <div class="info">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" draggable="false"/>
      <span>Vietnam Rice Agency</span>
    </div>
  </div>
  <div class="category">
    <header>Danh mục</header>
    <ul>
      <li>Giới thiệu</li>
      <li>Chính sách đổi trả</li>
      <li>Chính sách bảo mật</li>
      <li>Điều khoản dịch vụ</li>
      <li>Sản phẩm</li>
    </ul>
  </div>
  <div class="contact">
    <header>Liên hệ</header>
    <span>vietnamesericeisdabest@gmail.com</span>
  </div>
</div>
