<div class="nav">
  <div class="top-nav">
    <span class="welcom">Welcom Vietnam Rice Agency Website</span>
    <div class="top-nav-button">
      <a href="#">Login</a>
      <a href="#">Logout</a>
    </div>
  </div>
  <div class="bot-nav">
    <a href="/pages/user/seller-mainpage/index.html">
      <div class="logo">
        <img src="/assets/images/logo.png" alt="" draggable="false" />
      </div>
    </a>
    <div class="search-area">
      <input type="text" name="search" id="search" placeholder="" />
      <img src="/assets/images/search.png" alt="" />
    </div>
    <div class="bot-nav-button">
      <div class="cart">
        <img src="/assets/images/cart.png" alt="" draggable="false" />
      </div>
      <a href="/pages/user/info/user-information/">
        <div class="user">
          <img src="/assets/images/user.png" alt="" draggable="false" />
        </div>
      </a>
    </div>
  </div>
  <div class="toolbar">
    <div class="menu">
      <a href="#">
        <img src="img/menu.png" alt="" />
        Trang chủ
      </a>
    </div>
    <div class="discount-btn">
      <a href="#">
        <img src="img/discount.png" alt="" />
        Khuyến mãi
      </a>
    </div>
    <div class="book-upload">
      <div>
        <img src="img/book.png" alt="" />
        Đăng bán sản phẩm
      </div>
    </div>
  </div>
</div>